<ion-menu side="start" menuId="customMenu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-avatar class="logo">
        <img src="../../assets/images/icones/iconReceitas.png" alt="">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/tabs/tab4" class="menuPerfil">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="../../assets/images/perfil/Beatrix.png" />
        </ion-avatar>
        <ion-label>Beatrix Kiddo</ion-label>
      </ion-item>

      <ion-item  class="menuItem" (click)="abrirModalNotificacao()">
        <ion-icon name="notifications" slot="start" class="menuIcon"></ion-icon>
        <ion-label class="menuLabel">Notificação</ion-label>
      </ion-item>

      <ion-item  class="menuItem" (click)="abrirModalConfiguracao()">
        <ion-icon name="settings" slot="start" class="menuIcon"></ion-icon>
        <ion-label class="menuLabel">Configurações</ion-label>
      </ion-item>

      <ion-item routerLink="/pesquisa" class="menuItem">
        <ion-icon name="heart" slot="start" style="color: red;"></ion-icon>
        <ion-label class="menuLabel" >Favoritos</ion-label>
      </ion-item>

      <ion-item routerLink="/login" class="menuItem">
        <ion-icon name="log-out" slot="start" style="color: rgb(123, 4, 4);"></ion-icon>
        <ion-label style="color: rgb(123, 4, 4);">Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header id="main-content">
  <ion-buttons>
    <ion-avatar class="logo" (click)="openMenu()">
      <img src="../../assets/images/icones/iconReceitas.png" alt="">
    </ion-avatar>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="voltar">
    <ion-icon name="arrow-back" routerLink="/tabs/tab1"></ion-icon>
  </div>

  <section class="sectionCard">
    <div class="card">
      <div class="imagem">
        <img src="../../assets/images/receita/lasanha.png" alt="">
      </div>
      <div class="texto">

        <div class="title">
          <ion-title>Lasanha à bolonhesa</ion-title>
          <ion-icon [name]="favorito ? 'heart' : 'heart-outline'" (click)="toggleFavorito()" class="heart">></ion-icon>
        </div>
        
        <div class="estrelas">
          <ion-icon *ngFor="let star of stars; let i = index"
          [name]="i < rating ? 'star' : 'star-outline'"
          (click)="setRating(i + 1)"
          ></ion-icon>
          <p>(46)</p>
        </div>
        <div class="descricao">
          <p>Lasanha recheada com carne 
            bolvina e queijos.</p>
        </div>
        <div class="tempoPorcao">
          <div class="tempo">
            <ion-icon name="time"></ion-icon>
            <p>40 min</p>
          </div>
          <div class="porcao">
            <ion-icon name="person-outline"></ion-icon>
            <p>4 Porções</p>
          </div>
        </div>
      </div>

      <div class="linha"></div>

      <div class="ingredientes">
        <ion-title>Ingredientes</ion-title>
        <div class="checks">
          <div class="checknormal">
            <ion-checkbox label-placement="end" class="check"><ion-label>1/2 pacote (200 g) de massa</ion-label></ion-checkbox>
          </div>
          <div class="checkMolho">
            <p class="secao">Molho:</p>
            <ion-checkbox label-placement="end" class="check"><ion-label>400 g de carne bovina moida</ion-label></ion-checkbox>
            <ion-checkbox label-placement="end" class="check"><ion-label>1 fio de azeite</ion-label></ion-checkbox>
            <ion-checkbox label-placement="end" class="check"><ion-label>2 latas de tomates pelados picados (800 gramas)</ion-label></ion-checkbox>
            <ion-checkbox label-placement="end" class="check"><ion-label>1 colher (chá) (6 g) de sal</ion-label></ion-checkbox>
          </div>
          <div class="checkRecheio">
            <p class="secao">Recheio:</p>
            <ion-checkbox label-placement="end" class="check"><ion-label>300 g de queijo muçarela fatiado</ion-label></ion-checkbox>
            <ion-checkbox label-placement="end" class="check"><ion-label>300 g de queijo provolone fatiado</ion-label></ion-checkbox>
            <ion-checkbox label-placement="end" class="check"><ion-label>100 g de queijo parmesão</ion-label></ion-checkbox>
          </div>
        </div>
      </div>

      <div class="linha"></div>

      <div class="modoDePreparo">
        <ion-title>Modo de preparo</ion-title>
        <div class="checks">
          <div class="checknormal">
            <ion-checkbox labelPlacement="end" class="checkRedondo">
              <ion-label>Para o molho, coloque em uma panela o fio de azeite e a carne moída. Deixe dourar.</ion-label>
            </ion-checkbox>
            <ion-checkbox labelPlacement="end" class="checkRedondo">
              <ion-label>Junte o tomate pelado picado e tempere com sal. Deixe ferver por 10 minutos em fogo baixo.</ion-label>
            </ion-checkbox>
          </div>
          <div class="checkMolho">
            <p class="secao">Montagem:</p>
            <ion-checkbox labelPlacement="end" class="checkRedondo">
              <ion-label>Em um refratário (20 cm por 30 cm), coloque uma porção de molho, cubra com uma camada de massa, espalhe mais molho, acrescente o queijo muçarela e o provolone. Repita as camadas até a borda do refratário.</ion-label>
            </ion-checkbox>
            <ion-checkbox labelPlacement="end" class="checkRedondo">
              <ion-label>Finalize com o Queijo Parmesão Ralado.</ion-label>
            </ion-checkbox>
            <ion-checkbox labelPlacement="end" class="checkRedondo">
              <ion-label>Leve ao forno preaquecido por cerca de 20 minutos a 200°C ou até dourar.</ion-label>
            </ion-checkbox> 
          </div>
        </div>
      </div>

      <div class="linha2"></div>
        <div class="autora">
          <p>Por</p>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="../../assets/images/perfil/Elizabeth.png" />
            </ion-avatar>
            <ion-label>Elizabeth Bennet</ion-label>
          </ion-item>
        </div>
      <div class="linha2"></div>
      
      <div class="deixeComentario">
        <ion-title>Deixe seu comentário</ion-title>
        <div class="meuComentario">
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="../../assets/images/perfil/Beatrix.png" />
            </ion-avatar>
            <ion-label>Beatrix Kiddo</ion-label>
          </ion-item>
          <div class="estrelas">
            <ion-icon *ngFor="let star of stars; let i = index"
            [name]="i < rating ? 'star' : 'star-outline'"
            (click)="setRating(i + 1)"
            ></ion-icon>
          </div>
          <div class="input">
            <ion-textarea
              placeholder="Deixe seu comentário"
              rows="4"
              maxlength="200"
              class="meuTextarea"
              auto-grow="true"
            ></ion-textarea>
            <div class="enviar">
              <ion-button><ion-icon name="send"></ion-icon></ion-button>
            </div>
          </div>
        </div>
      </div>

      <div class="linha"></div>

      <div class="comentarios">
        <div class="containerComentario">
          <ion-item class="perfilComentario">
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="../../assets/images/perfil/lars.png" />
            </ion-avatar>
            <ion-label>Lars Lindstrom</ion-label>
          </ion-item>
          <div class="estrelas">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </div>
          <div class="comentario">
            <div class="texto">
              <p>Ótima receita! Fiz aqui em casa e deu super certo.</p>
            </div>
            <div class="comentarioFooter">
              <div class="likes">
                <div class="like">
                  <ion-icon [name]="like ? 'thumbs-up' : 'thumbs-up-outline'" (click)="toggleLike()" ></ion-icon>
                  <p>10</p>
                </div>
                <div class="like">
                  <ion-icon [name]="dislike ? 'thumbs-down' : 'thumbs-down-outline'" (click)="toggleDislike()" ></ion-icon>
                  <p>0</p>
                </div>
              </div>
              <div class="data">
                <p>06/04/2025 às 17:49</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="linha"></div>

    </div>
  </section>
</ion-content>
