<ion-menu side="start" menuId="customMenu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-avatar class="logo">
        <img src="../../assets/images/icones/iconReceitas.png" alt="">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/tabs/tab4" class="menuPerfil">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="../../assets/images/perfil/Beatrix.png" />
        </ion-avatar>
        <ion-label>Beatrix Kiddo</ion-label>
      </ion-item>

      <ion-item class="menuItem" (click)="abrirModalNotificacao()">
        <ion-icon name="notifications" slot="start" class="menuIcon"></ion-icon>
        <ion-label class="menuLabel">Notificação</ion-label>
      </ion-item>

      <ion-item class="menuItem" (click)="abrirModalConfiguracao()">
        <ion-icon name="settings" slot="start" class="menuIcon"></ion-icon>
        <ion-label class="menuLabel">Configurações</ion-label>
      </ion-item>

      <ion-item routerLink="/pesquisa" class="menuItem">
        <ion-icon name="heart" slot="start" style="color: red;"></ion-icon>
        <ion-label class="menuLabel" >Favoritos</ion-label>
      </ion-item>

      <ion-item routerLink="/login" class="menuItem">
        <ion-icon name="log-out" slot="start" style="color: rgb(123, 4, 4);"></ion-icon>
        <ion-label style="color: rgb(123, 4, 4);">Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header id="main-content">
  <ion-buttons>
    <ion-avatar class="logo" (click)="openMenu()">
      <img src="../../assets/images/icones/iconReceitas.png" alt="">
    </ion-avatar>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="containerPesquisa">
    <ion-item class="campoPesquisa">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-input placeholder="Pesquisar"></ion-input>
    </ion-item>
  </div>

  <div class="slide-container">
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('acompanhamento')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/acompanhamento.png" alt="">
          </ion-avatar>
          <ion-card-title>Acompanhamento</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('bebidas')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/bebidas.png" alt="">
          </ion-avatar>
          <ion-card-title>Bebidas</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('carnes')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/carnes.png" alt="">
          </ion-avatar>
          <ion-card-title>Carnes</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('doces')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/doces.png" alt="">
          </ion-avatar>
          <ion-card-title>Doces</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('lanches')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/lanches.png" alt="">
          </ion-avatar>
          <ion-card-title>Lanches</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('massas')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/massas.png" alt="">
          </ion-avatar>
          <ion-card-title>Massas</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('molhos')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/molhos.png" alt="">
          </ion-avatar>
          <ion-card-title>Molhos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('saladas')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/saladas.png" alt="">
          </ion-avatar>
          <ion-card-title>Saladas</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="slide">
      <ion-card class="cardPesquisa" (click)="irParaCategoria('principal')">
        <ion-card-header>
          <ion-avatar>
            <img src="../../assets/images/icones/pratoPrincipal.png" alt="">
          </ion-avatar>
          <ion-card-title>Prato Principal</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
  
  <div class="linha"></div>

  <section>
   
    <ion-toolbar>
      <ion-title>{{ categoria | titlecase }}</ion-title>
    </ion-toolbar>
    

    <ion-grid>
      <ion-row>
        <ion-col
          *ngFor="let r of receitas"
          size="12"
          size-md="6"
          size-lg="3"
          class="card-col">
          <app-recipe-card
            [id]="r.id"
            [userName]="r.usuario"
            [userImage]="r.fotoUsuario"
            [recipeTitle]="r.titulo"
            [recipeImage]="r.fotoReceita"
            [recipeDescription]="r.descricao"
            [rating]="r.avaliacao"
            [recipeRating]="r.quantAvaliacao">
          </app-recipe-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </section>

</ion-content>
