<ion-header id="main-content">
  <ion-buttons>
    <ion-avatar class="logo" (click)="openMenu()">
      <img src="../../assets/images/icones/iconReceitas.png" alt="">
    </ion-avatar>
  </ion-buttons>
  <ion-buttons>
    <ion-icon name="notifications-outline" class="iconNotification" (click)="abrirModalNotificacao()"></ion-icon>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true" >

  <section class="principal">
    <section class="container">
      <section class="perfil">
        <ion-avatar class="ftPerfil">
          <img src="../../assets/images/perfil/Beatrix.png" alt="">
        </ion-avatar>
        <ion-title class="namePerfil">Beatrix Kiddo</ion-title>
      </section>
    
      <section class="inputs">
        <div class="containerInputs">
          <ion-item class="campoInput">
            <ion-icon name="person-outline" slot="start" class="iconInput"></ion-icon>
            <ion-input placeholder="Beatrix Kiddo"></ion-input>
          </ion-item>
        </div>
    
        <div class="containerInputs">
          <ion-item class="campoInput">
            <ion-icon name="calendar-outline" slot="start" class="iconInput"></ion-icon>
            <ion-input type="date" placeholder="27/03/1963" class="ocultardate" ></ion-input>
          </ion-item>
        </div>
    
        <div class="containerInputs">
          <ion-item class="campoInput">
            <ion-icon name="mail-outline" slot="start" class="iconInput"></ion-icon>
            <ion-input placeholder="beatrix@gmailcom" ></ion-input>
          </ion-item>
        </div>
    
        <div class="containerInputs">
          <ion-item class="campoInput">
            <ion-icon name="lock-closed-outline" slot="start" class="iconInput"></ion-icon>
            <ion-input placeholder="****" type="password" ></ion-input>
          </ion-item>
        </div>
      </section>
    </section>
  </section>

</ion-content>
