<ion-header id="main-content">
  <ion-buttons>
    <ion-avatar class="logo" (click)="openMenu()">
      <img src="../../assets/images/icones/iconReceitas.png" alt="">
    </ion-avatar>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="recentes">
    <ion-toolbar>
      <ion-title size="large">Recentes</ion-title>
    </ion-toolbar>
  
    <div class="slide-container-horizontal">
      <div class="slide" *ngFor="let recente of recentes" >
        <app-recipe-card
          [id]="recente.id"
          [userName]="recente.usuario"
          [userImage]="recente.fotoUsuario"
          [recipeTitle]="recente.titulo"
          [recipeImage]="recente.fotoReceita"
          [recipeDescription]="recente.descricao"
          [rating]="recente.avaliacao"
          [recipeRating]="recente.quantAvaliacao">
        </app-recipe-card>
      </div>
    </div>
  </section>

  <div class="linha"></div>

  <section>
    <ion-toolbar>
      <ion-title size="large">Mais pesquisados</ion-title>
    </ion-toolbar> 
    <div class="slide-container-horizontal">
      <div class="slide" *ngFor="let pesquisa of pesquisados">
        <app-recipe-card
          [id]="pesquisa.id"
          [userName]="pesquisa.usuario"
          [userImage]="pesquisa.fotoUsuario"
          [recipeTitle]="pesquisa.titulo"
          [recipeImage]="pesquisa.fotoReceita"
          [recipeDescription]="pesquisa.descricao"
          [rating]="pesquisa.avaliacao"
          [recipeRating]="pesquisa.quantAvaliacao">
        </app-recipe-card>
      </div>
    </div>
  </section>

  <div class="linha"></div>

  <section>
    <ion-toolbar>
      <ion-title size="large">Favoritos</ion-title>
    </ion-toolbar> 
    <div class="slide-container-horizontal">
      <div class="slide" *ngFor="let favorito of favoritos">
        <app-recipe-card
          [id]="favorito.id"
          [userName]="favorito.usuario"
          [userImage]="favorito.fotoUsuario"
          [recipeTitle]="favorito.titulo"
          [recipeImage]="favorito.fotoReceita"
          [recipeDescription]="favorito.descricao"
          [rating]="favorito.avaliacao"
          [recipeRating]="favorito.quantAvaliacao">
        </app-recipe-card>
      </div>
    </div>
  </section>

  <div class="linha"></div>

  <section>
    <ion-toolbar>
      <ion-title size="large">Você pode gostar</ion-title>
    </ion-toolbar> 
    <div class="slide-container-horizontal">
      <div class="slide" *ngFor="let sugestao of sugestoes">
        <app-recipe-card
          [id]="sugestao.id"
          [userName]="sugestao.usuario"
          [userImage]="sugestao.fotoUsuario"
          [recipeTitle]="sugestao.titulo"
          [recipeImage]="sugestao.fotoReceita"
          [recipeDescription]="sugestao.descricao"
          [rating]="sugestao.avaliacao"
          [recipeRating]="sugestao.quantAvaliacao">
        </app-recipe-card>
      </div>
    </div>
  </section>

  <div class="linha"></div>
</ion-content>
