<ion-header id="main-content">
  <ion-buttons>
    <ion-avatar class="logo" (click)="openMenu()">
      <img src="../../assets/images/icones/iconReceitas.png" alt="">
    </ion-avatar>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true" >

  <section>
    <ion-toolbar>
      <ion-title size="large">Minhas Receitas</ion-title>
    </ion-toolbar>

    <ion-grid>      
      <ion-row class="ion-justify-content-center">  
        <ion-col size="12" size-md="6" size-lg="3"  class="card-col">
          <ion-card class="cardReceitaAdd">
            <ion-card-header>
              <ion-button class="circulo" (click)="abrirModal()">
                <ion-icon class="plus" name="add"></ion-icon>
              </ion-button>
              <ion-card-title class="textAdd">Publicar receita</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col
          *ngFor="let receita of receitas"
          size="12"
          size-md="6"
          size-lg="3"
          class="card-col">
          <app-recipe-card
            [id]="receita.id"
            [userName]="receita.usuario"
            [userImage]="receita.fotoUsuario"
            [recipeTitle]="receita.titulo"
            [recipeImage]="receita.fotoReceita"
            [recipeDescription]="receita.descricao"
            [rating]="receita.avaliacao"
            [recipeRating]="receita.quantAvaliacao">
          </app-recipe-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </section>
</ion-content>

